body {
    padding: 10px;
    margin: 0px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
}

.title{
    padding: 10px;
}

.imagem{
    justify-content: center;
    padding-top: 10px;
    height: 350px;
}